body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(45, 62, 214);
  background-size: cover;
  margin: 0 40%;
  padding: 0;
  text-align: justify;
}
h1{
  text-align: center;
}
.centered-content {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  background-color: rgb(39, 90, 184);
}
.one{
  border: 5px solid red;
  padding: 60px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(125, 147, 211);
  box-shadow: 20px 20px rgba(109, 21, 82, 0.568);

table {
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    border-collapse: collapse;
  }
  
td,
th {
    padding: 20px;
  }

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border : 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] {
  background-color: #5dc961;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="reset"] {
  background-color: #52b7d6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
